{% load  staticfiles %}

<!DOCTYPE HTML>

<html>
	<head>
		<title>{% block head_title %} T {% endblock head_title %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">						
					<a href="#" class="image avatar"><img src="{% static 'images/use8.jpeg' %}" alt="" /></a>
					<h1><strong><em>Do not be afraid of the Death Winnie, but rather the unlived life, </em></strong> You dont have to live forever,<br> You just have to live. <br></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2>My goal, merely is  <br>to reveal, a window into understanding how things came to pass. <br></h2>
						</header>
						<p><em>
						Be it old history, current happenings or a different look into how things might have sparked up or would come to pass. I wanna pour my mind and thoughts into this page. <br>
						<br> <strong>Living every second like it was my last one!</strong></p></em>
						<ul class="actions">
							<li><a href="#" class="button">About me!</a></li>
						</ul>
					</section>

				<!-- Two -->
					<section id="two">
						<h2>Recent Work</h2>
						<div class="row">
							<article class="6u 12u$(xsmall) work-item">
							{% for obj in object_list %}
								<a href="{% url 'posts:detail' slug=obj.slug %}" class="image fit thumb">
								{% if obj.image %}
								<img src="{{ obj.image.url }}" alt="" />
								{% endif %}
								</a>
								<h3> {{obj.title}} </h3>
								<p>{{obj.content | truncatechars:500 }}</p>
								<hr>
							{% endfor %}
							</article>

						</div>
						<ul class="actions">
							<li><a href="#" class="button">Older Posts</a></li>
						</ul>
					</section>

				<!-- Three -->
					<section id="three">
						<h2>Get In Touch</h2>
						<p>Some of my pieces can be quite different. But incase you wanna drop a line, maybe grab a cup of coffee <br> Just shoot me email and al get back to you A.S.A.P</p>
						<div class="row">
							<div class="8u 12u$(small)">
								<form method="post" action="#">
									<div class="row uniform 50%">
										<div class="6u 12u$(xsmall)"><input type="text" name="name" id="name" placeholder="Name" /></div>
										<div class="6u$ 12u$(xsmall)"><input type="email" name="email" id="email" placeholder="Email" /></div>
										<div class="12u$"><textarea name="message" id="message" placeholder="Message" rows="4"></textarea></div>
									</div>
								</form>
								<ul class="actions">
									<li><input type="submit" value="Send Message" /></li>
								</ul>
							</div>
							<div class="4u$ 12u$(small)">
								<ul class="labeled-icons">
									<li>
										<h3 class="icon fa-envelope-o"><span class="label">Email</span></h3>
										<a href="#">WinnyTroy</a>
									</li>
								</ul>
							</div>
						</div>
					</section>

			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://twitter.com/WinnyTroy" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
						<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
						<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->


		<script src="{% static 'js/js.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}"></script>


						{% static 'assets/js/main.js' %}
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.poptrox.min.js' %}"></script>
			<script src="{% static 'assets/js/skel.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>