
{% extends "index.html" %}

{% block content %}



<div class="">
{% for obj in object_list %}


    <div class="thumbnail col-sm-6 post_list">

    {% if obj.image %}
     <img src="{{ obj.image.url }}" class="img-responsive">

     {% endif %}

      <div class="caption">
        <h3><a href="{% url 'posts:detail' slug=obj.slug %}"> {{obj.title}} </a> <br/> 
        <small> {{obj.timestamp}} </small></h3>
        {% if obj.user.get_full_name %}
        <p>Author : {{ obj.user.get_full_name }}</p>
        {% endif %}
        <hr/>

        <!-- truncatechars is a built in function that aids in limiting the number of characters that can be viewed. Helps keep content in a similarly structured manner -->


        <p>{{obj.content | truncatechars:100 }}</p>
        <p><a href="{% url 'posts:detail' slug=obj.slug %}" class="btn btn-primary" role="button">View</a></p>
      </div>
    </div>

<!-- {% cycle "" "</div><div class='row'>" %}  -->
{% endfor %}
<!-- </div> -->


<div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?{{ page_request_var }}={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?{{ page_request_var }}={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

</div> 
{% endblock content %}