{% extends "index.html" %}


{% block content %}

<div>
	




{% if instance.image%}
<img src="{{ instance.image.url }}" class="img-responsive">

{% endif %}
<br>
<h1> {{ title }} </h1>
<small>{{instance.timestamp}}</small>
<p>Author : {{ instance.user }}</p>

<!-- Use this if you do actually want to show the time frame since this was created -->
<!-- {{instance.timestamp | timesince}} -->


<br>



<!-- <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"> Facebook </a> -->

<a href="https://twitter.com/home?status={{ share_string }}%20{{ request.build_absolute_uri }}">
Twitter
</a>


<!-- <a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'> Google Plus</a> -->


<a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ instance.title }}&summary={{ share_string }}&source={{ request.build_absolute_uri }}">
Linkedin
</a>



<hr>
{{instance.content}}


</div>

{% endblock content %}
